---
import AddToCard from '../../../commons/components/AddToCard.astro'

interface Props {
	id: number
	title: string
	description: string
	price: number
	images: string[]
}

const { id, title, description, price, images } = Astro.props
---

<div
	class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96"
>
	<a
		href={`/product/${id}`}
		class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96"
	>
		<img src={images[0]} alt="card-image" class="object-cover w-full h-full" />
	</a>
	<div class="p-6">
		<div class="flex items-center justify-between mb-2">
			<p
				class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900 truncate"
			>
				{title}
			</p>
			<p
				class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900 pl-5"
			>
				${price}
			</p>
		</div>
		<p
			class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75 truncate"
		>
			{description}
		</p>
	</div>
	<div class="p-6 pt-0 flex gap-3">
		<AddToCard title="Preview" />
		<AddToCard title="Add to card" />
	</div>
</div>